#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 50vw;
}

.image-container {
  flex-grow: 1;
  flex-basis: 50%;
}

.item-image {
  max-width: 75px;
  max-height: 75px;
}

.item-title {
  flex-grow: 1;
  flex-basis: 50%;
}